<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<div class="column">
<div class="card box-shadow" style="width: 14rem;">
  <div class="card-body">
    <h6 class="card-title" style="font-weight: bold;color:#2e5ca5">Dow 30</h6>

    <div class="row">
      <div class="col-8">
    <p class="card-text"style="font-weight: bold;card-text">2,599.95<br>
    <span style="font-weight: bold;color:red">-50.59(-1.91%)</span></p>
    </div>
<div class="col-4">
    <div class="d3-chart" #chart></div>
</div>
    </div>
  </div>
</div>
</div>

<style >

  .d3-chart {
    width: 30%;
    height: 30px;
  }
</style>


<!-- </div>
<div class="card-deck">
 <div class="card bg-light">
   <div class="card-body">
     <h5 class="card-title"><span style="font-weight: bold;color:#4db8ff">Dow 30</span></h5>
     <p class="card-text">2,599.95<br>
 <span style="color:red">-50.59(-1.91%)</span></p>

   </div>
</div>

 <div class="card bg-light">
   <div class="card-body">
     <h5 class="card-title"><span style="font-weight: bold;color:#4db8ff">Nasdaq</span></h5>
     <p class="card-text">2,599.95<br>
 <span style="color:red">-50.59(-1.91%)</span></p>
   </div>
</div>

 <div class="card bg-light">
   <div class="card-body">
     <h5 class="card-title"><span style="font-weight: bold;color:#4db8ff">crude oil</span></h5>
     <p class="card-text">2,599.95<br>
 <span style="color:red">-50.59(-1.91%)</span></p>
   </div>
</div>

 <div class="card bg-light">
   <div class="card-body">
     <h5 class="card-title"><span style="font-weight: bold;color:#4db8ff">gold</span></h5>
     <p class="card-text">2,599.95<br>
 <span style="color:red">-50.59(-1.91%)</span></p>
   </div>
</div> -->
